@charset "UTF-8";
/* CSS Document */

/*==================
reset
====================*/
/*ベースの要素の設定をリセット*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,blockquote,th,td {
margin:0;
padding:0;
}

/*画像の枠線をクリアして位置の初期値の設定*/
img{
border:0;
vertical-align: top;
}

/*リンク時の枠の点線をなしにする*/
a{
outline: none;
}

/*リスト要素の初期値をリセット*/
ul,ol{
list-style: none;
}


/*フロート解除用のハック*/
/*clearfix*/
.clearfix:after{  
visibility:hidden;
height:0;
display: block;
font-size: 0;  
content: " ";  
clear: both;  

} 
* html .clearfix             { zoom: 1; } 
*:first-child+html .clearfix { zoom: 1; } 

input[checkbox]{
	display:none;
}


/*==================
共通
====================*/

body{
	background-color: #fff;
  font-family: Lato,"ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 1em;
	letter-spacing: 2px;
	line-height:1.7;
	color:#363833;
	backgorund:#f8f8f9;
}

#container{
	width:100%;
	margin:0 auto;
}

a:link,
a:visited,
a:active{
	color:#363833;
	text-decoration:none;
}

a:hover{
		text-decoration:none;
}

img{
	max-width:100%;
	height:auto;
	width:auto;
}


/*==================
header
====================*/

header{
	background-color:#FFF;
	width:100%;
	height:50px;
	position:fixed;
	top:0;
	z-index:20;
}

@media screen and (min-width:761px) {
	header{
	background-color:#FFF;
	width:100%;
	height:60px;
	position:fixed;
	top:0;
	z-index:20;
}
}

@media screen and (min-width:960px) {
	header{
	background-color:#FFF;
	width:100%;
	height:62px;
	position:fixed;
	top:0;
	z-index:20;
}
}

#logo{
	width:25%;
	padding:8px;
}

@media screen and (min-width:761px) {
	#logo{
	width:17%;
	padding:10px;
}
}
@media screen and (min-width:960px) {
	#logo{
	width:11%;
	padding:10px;
}
}


#topcv{
	width:25%;
	margin:12px;
	float:right;
	border-radius:10px;
	box-shadow:2px 2px 1px #908C8C;
}

@media screen and (min-width:761px) {
	#topcv{
	width:17%;
	margin:12px;
	float:right;
	border-radius:8px;
	box-shadow:2px 2px 1px #908C8C;
}
}

@media screen and (min-width:960px) {
	#topcv{
	width:11%;
	margin:12px;
	float:right;
	border-radius:8px;
	box-shadow:2px 2px 1px #908C8C;
}
}

a:hover{
	opacity:0.5;
}

/*==================
main
====================*/
#main{
	padding-top:60px;
}

#main img{
	width:100%;
}

h1{
	color:#02381d;
	font-family:"UDTypos515","UDTypos515";
	text-shadow:1px 1px 1px #02381d;
	width:85%;
	margin:30px auto 20px;
}

.font15pt{
	font-size:0.35em;
	margin-bottom:10px;
}

@media screen and (min-width:761px) {
	.font15pt{
	font-size:0.5em;
	margin-bottom:5px;
}
}

.font25pt{
	font-size:0.8em;
	line-height:1.4em;
}

@media screen and (min-width:761px) {
.font25pt{
	font-size:1.3em;
	line-height:1.4em;
	margin-bottom:10px;
}
}

.font13pt{
	font-size:0.8em;
	width:80%;
	margin:10px auto 20px;
}

@media screen and (min-width:761px) {
.font13pt{
	font-size:1em;
	width:70%;
	margin:20px auto 30px;
}
}

.centercopy{
	width:100%;
	margin:0 auto;
	text-align:center;
}

/*==================
campaing
====================*/

.campaing{
	width:95%;
	margin:0 auto;
	text-align:center;
}

.campaing img{
	width:95%;
	margin:0 auto;
}

@media screen and (min-width:761px) {
	.campaing img{
	text-align:center;
	width:80%;
	margin:0 auto;
}
}

.caution{
	width:85%;
	margin:5px auto 20px;
	font-size:0.7em;
}

.cvarea{
	width:70%;
	margin:20px auto;
	text-align:center;
}

@media screen and (min-width:761px) {
	.cvarea{
	width:50%;
	margin:20px auto;
	text-align:center;
}
}

@media screen and (min-width:960px) {
	.cvarea{
	width:35%;
	margin:20px auto;
	text-align:center;
}
}

.cvbtn{
	border-radius:8px;
	box-shadow:3px 3px 1px #908C8C;
}

/*==================
koe
====================*/

#koe{
	width:100%;
	margin:40px auto 0px;
	background: linear-gradient(rgba(212,230,173,0.5),rgba(226,228,56,0.5),rgba(146,197,36,0.5));
	text-align:center;
	padding-bottom:20px;
}

h2{
	color:#02381d;
	font-family:"UDTypos515","UDTypos515";
	text-shadow:1px 1px 1px #02381d;
	width:90%;
	padding-top:40px;
	margin:30px auto 20px;
	font-size:1.6em;
}

@media screen and (min-width:761px) {
h2{
	color:#02381d;
	font-family:"UDTypos515","UDTypos515";
	text-shadow:1px 1px 1px #02381d;
	width:90%;
	padding-top:40px;
	margin:30px auto 20px;
	font-size:2em;
}
}

.font20pt{
	font-size:0.5em;
}

h3{
	color:#393c3c;
	text-shadow:1px 1px 1px #393c3c;
	text-align:left;
	font-size:1.2em;
}

.bunsho{
	width:80%;
	margin:30px auto;
}

@media screen and (min-width:761px) {
	.bunsho{
	width:50%;
	margin:30px auto;
}
}

.bunsho p{
	padding-top:10px;
	font-size:0.9em;
	text-align:left;
}


.taskajisan{
	width:65%;
	margin-bottom:20px;
}

@media screen and (min-width:761px) {
.taskajisan{
	width:35%;
	margin:0px 10px 20px 10px;
}
}


.cvarea p{
	font-size:0.8em;
	padding:10px 0px 10px;
	color:#02381d;
	font-weight:bold;
}


@media screen and (min-width:960px) {
#koe .cvarea{
	width:100%;
	margin:20px auto;
	text-align:center;
}
}

#movie{
	width:80%;
	height:315px;
}

@media screen and (min-width:761px) {
	#movie{
	width:50%;
	height:315px;
}
}
	

/*==================
merit
====================*/

#merit{
	width:95%;
	margin:0 auto;
	text-align:center;
	padding-bottom:20px;
}

.meritkakomi{
	width:95%;
	background:url(../img/pattern-dot01.gif);
	background-size:6px;
	border-radius:15px;
	margin:30px auto;
}

.meritkakomi img{
	width:90%;
	margin-bottom:20px;
}

@media screen and (min-width:761px) {
	.meritkakomi img{
	width:50%;
	margin-bottom:20px;
}
}

.meritdress{
	background:rgba(245,232,198,0.7);
	border-radius:15px;
	padding:20px;
}

.merittitle1{
	background:url(../img/no1.png) no-repeat 0px 0;
	background-size:30px;
	font-weight:bold;
	font-size:1.1em;
	padding-left:30px;
	margin:0 auto 10px;
	text-align:left;
}


.meritbunsho{
	font-size:0.9em;
	width:95%;
	margin:0 auto 20px;
	text-align:left;
}

.merittitle2{
	background:url(../img/no2.png) no-repeat 0px 0;
	background-size:30px;
	font-weight:bold;
	font-size:1.1em;
	padding-left:30px;
	margin:0 auto 10px;
	text-align:left;
}

.merittitle3{
	background:url(../img/no3.png) no-repeat 0px 0;
	background-size:30px;
	font-weight:bold;
	font-size:1.1em;
	padding-left:30px;
	margin:0 auto 10px;
	text-align:left;
}

#merit .campaing{
	width:85%;
	margin-right:15px;
	}

@media screen and (min-width:761px) {
#merit .campaing{
	width:70%;
	margin:10px 35px 0px 10px;
}
}


@media screen and (min-width:761px) {
#merit .caution{
	width:60%;
}
}

@media screen and (min-width:761px) {
#merit .cvarea{
	width:35%;
	margin:20px auto;
	text-align:center;
}
}

#ryoridake{
	width:100px;
	position:absolute;
	left:65%;
}

@media screen and (max-width:333px) {
.naiyo{
	background:url(../img/title_05.png) #fff no-repeat;
	background-size:200px;
	border-radius:5px;
	padding-top:50px;
	padding-bottom:20px;
	position:relative;
	z-index:1;
}

#ryoridake{
	width:100px;
	position:relative;
	top:200px;
	left:40%;
	z-index:3;
}
}


@media screen and (min-width:481px) {
	#ryoridake{
	width:100px;
	position:absolute;
	left:50%;
}
}

@media screen and (min-width:628px) {
	#ryoridake{
	width:100px;
	position:absolute;
	left:40%;
}
}

@media screen and (min-width:744px) {
	#ryoridake{
	width:100px;
	position:absolute;
	left:38%;
}
}



.naiyo{
	background:url(../img/title_05.png) #fff no-repeat;
	background-size:200px;
	border-radius:5px;
	padding-top:50px;
	padding-bottom:20px;
}

.naiyo img{
	width:125px;
	box-shadow:1px 1px 2px #282727;
	border-radius:5px;
}

.naiyo p{
	width:80%;
	margin:0 auto;
	font-size:0.7em;
	text-align:left;
}

#tukurioki{
	border:#e06641 dotted 2px;
	border-radius:5px;
}

.caution02{
	font-size:0.7em;
	text-align:left;
	margin:0px 5px 0px 5px;
}

@media screen and (min-width:600px) {
.caution02{
	font-size:0.7em;
	text-align:left;
	margin:0px 5px 0px 25px;
}
}

@media screen and (min-width:744px) {
.caution02{
	font-size:0.7em;
	text-align:left;
	margin:0px 5px 0px 50px;
}
}

@media screen and (min-width:900px) {
.caution02{
	font-size:0.7em;
	text-align:left;
	margin:0px 0px 0px 200px;
}

.tablehaba{
	padding-right:150px;
}
}

.jikanbasho{
	margin-top:20px;
	background:url(../img/title_09.png) #fff no-repeat;
	background-size:200px;
	border-radius:5px;
	padding-top:50px;
	padding-bottom:20px;
}

.fontbig{
	padding:5px 0px 5px 0px;
	font-size:1.3em;
	letter-spacing:0.8px;
	font-weight:bold;
	color:#e06641;
}

.kyuyo{
	margin-top:20px;
	background:url(../img/title_11.png) #fff no-repeat;
	background-size:200px;
	border-radius:5px;
	padding-top:50px;
	padding-bottom:20px;
}

.kyuyotab{
	margin:0 auto;
}

.kyuyo td{
	background:#FAF8E6;
	border:solid 2px #fff;
	padding:0px 5px 0px 5px;
}

/*==================
setumei
====================*/

#setumei{
	width:100%;
	margin:40px auto 0px;
	background: linear-gradient(rgba(212,230,173,0.5),rgba(226,228,56,0.5),rgba(146,197,36,0.5));
	text-align:center;
	padding-bottom:20px;
}

.fontsetumei{
	font-size:0.9em;
	width:80%;
	margin:0 auto 20px;
	text-align:left;
}

@media screen and (min-width:761px) {
	.fontsetumei{
	font-size:1em;
	width:80%;
	margin:0 auto 20px;
	text-align:center;
}
}

#setumei img{
	width:80%;
	margin:10px auto;
}

.area{
	margin:0 auto;
	padding:20px 20px 10px 20px;
	width:70%;
	border:2px solid #02381d;
	font-size:0.9em;
}

.title2{
	font-weight:bold;
}

.bunsho04{
	margin-bottom:10px;
}



.kaijyo{
	margin:30px auto 30px;
	width:80%;
	text-align:left;
	background:rgba(4,56,110,0.3) url(../img/collaboyou-pattern.gif);
	background-size:8px;
}

.kaijyodress{
	width:100%;
	text-align:left;
	background:rgba(255,255,255,0.95);
	margin:0 auto;
}

.title{
	font-family:"UDTypos515","UDTypos515";
	font-size:1.3em;
	font-weight:bold;
	padding:10px 10px 10px 30px;
	text-shadow:1px 1px 1px #000;
}

#setumei ul{
	padding-left:20px;
	font-size:0.9em;
	font-weight:bold;
	text-decoration:underline;
}

.bunsho02{
	font-size:0.8em;
	padding:20px;
}

.bunsho03{
	font-weight:bold;
	font-size:0.8em;
	padding:10px 20px 10px 20px;
}

.bunsho05{
	font-size:0.8em;
	padding-left:20px;
	color:#6E0204;
}

iframe{
	width:100%;
	margin:0px auto 20px;
}

@media screen and (min-width:761px) {
#setumei .suzuki{
	width:45%;
}
}




/*==================
media
====================*/
#media img{
	width:100%;
	margin-bottom:40px;
	text-align:center;
}

@media screen and (min-width:761px) {
	#media{
		text-align:center;
}
}

@media screen and (min-width:761px) {
	#media img{
	width:50%;
	margin:0 auto 40px;
}
}

@media screen and (min-width:960px) {
	#media img{
	width:40%;
	margin:0 auto 40px;
}
}

#omoi{
	width:100%;
}

/*==================
omoi
====================*/
#omoi{
	background:url(../img/wadasan.jpg) no-repeat;
	background-size:cover;
	padding:30px 0px;
	text-align:center;
	margin:0 auto;
}

.omoititle{
	font-size:1.2em;
	font-weight:bold;
	color:#fff;
	padding-bottom:20px;
}

.omoibunsho{
	font-size:0.8em;
	color:#fff;
	width:80%;
	text-align:left;
	margin:0 auto;
}

@media screen and (min-width:761px) {
	#omoi{
	background:url(../img/wadasan2.png)no-repeat;
	background-size:cover;
}
}


/*==================
footer
====================*/

footer{
	width:100%;
	margin:0px auto;
}

footer li{
	color:#fff;
	margin:1px 0;
	background:#7cb94d;
	height:40px;
	text-align:center;
	line-height:40px;
	font-size:0.8em;
	font-weight:bold;
}

footer li a{
	color:#fff;
	text-decoration:none;
}

footer li:hover{
	opacity:0.5;
}

.copyright{
	margin:20px auto;
	text-align:center;
	font-size:0.6em;
}
